{% extends "base.html" %}
{% load i18n static %}
{% load l10n %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h1>{% trans 'Developers Management' %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover" id="table-developers">
        <thead>
        <tr>
          <th scope="col">{% trans 'Name' %}</th>
          <th scope="col">{% trans 'Productivity' %}</th>
          <th scope="col">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
          <tr data-developer="{{ object.pk }}">
            <th scope="row">
              <input type="text" name="name" class="form-control" placeholder="{% trans 'Username' %}"
                     value="{{ object.name }}">
            </th>
            <td>
              <input type="number"
                     name="productivity"
                     class="form-control"
                     min="0.01"
                     max="1"
                     step="0.01"
                     placeholder="{% trans 'Productivity' %}" value="{{ object.productivity|unlocalize }}">
            </td>
            <td>
              <a href="{% url 'developers:developers-detail' object.pk %}"
                 class="delete-confirmation"
                 data-message="{% trans 'Are you sure that you want to delete developer: ' %}{{ object.name }}?"
                 data-delete-message="{{ object.name }} {% trans 'was deleted successfully!' %}"
                 data-delete-container="[data-developer='{{ object.pk }}']">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td>
            <input type="text" name="name" class="form-control" placeholder="{% trans 'Username' %}"
                   value="{{ object.name }}">
          </td>
          <td>
            <input type="number"
                   name="productivity"
                   class="form-control"
                   min="0.01"
                   max="1"
                   step="0.01"
                   placeholder="{% trans 'Productivity' %}" value="1">
          </td>
          <td>
            <a href="" data-url="{% url 'developers:developers-list' %}" class="create-developer">Create</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


{% endblock content %}

