{% extends "base.html" %}
{% load i18n static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">{% trans 'Name' %}</th>
      <th scope="col">{% trans 'Total Tasks' %}</th>
      <th scope="col">{% trans 'Total Developers' %}</th>
      <th scope="col">Column heading</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr data-project="{{ object.id }}">
        <th scope="row">{{ object }}</th>
        <td>{{ object.total_tasks }}</td>
        <td>{{ object.total_developers }}</td>
        <td>
          <a href="{% url 'projects:projects-detail' object.pk %}"
             class="delete-confirmation"
             data-message="{% trans 'Are you sure that you want to delete project: ' %}{{ object.name }}?"
            data-delete-message="{{ object.name }} {% trans 'was deleted successfully!' %}"
            data-delete-container="[data-project='{{ object.id }}']">
            Delete
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">{% trans "There aren't any project. Use `Add Project` to create new project." %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'projects:project_create' %}">{% trans 'Add new project' %}</a>

{% endblock content %}

