{% extends "base.html" %}
{% load i18n static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">{% trans 'Name' %}</th>
      <th scope="col">{% trans 'Total Tasks' %}</th>
      <th scope="col">{% trans 'Total Developers' %}</th>
      <th scope="col">Column heading</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <th scope="row">{{ object }}</th>
        <td>{{ object.total_tasks }}</td>
        <td>{{ object.total_developers }}</td>
        <td>Column content</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'projects:project_create' %}">{% trans 'Add new project' %}</a>

{% endblock content %}

